body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
    display: grid;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
h1 {
    font-size: 3vh;
}
.searchBox {
    width: 240%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
button {
    width: 75px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    margin-left: 10em;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.searchGroup {
    margin-left: 10em;
    margin-top: 3em;
    margin: 50px 100px;
    display: flex;
}

.header {
    height: 15vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 80vh;
    width: 97vw;
    text-align: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
}
    50% {
        background-position: 100% 50%;
}
    100% {
        background-position: 0% 50%;
}
}
img {
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
    box-shadow: 10px 15px 7px #3a3939;
  }

  @media only screen and (max-width:1450px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 80vh;
        width: 97vw;
        text-align: center;
    }
  }
  @media only screen and (max-width:1150px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 80vh;
        width: 97vw;
        text-align: center;
    }
  }
  @media only screen and (max-width:840px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;
        width: 97vw;
        text-align: center;
    }
  }
  @media only screen and (max-width:540px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 10em;
        height: 80vh;
        width: 97vw;
        text-align: center;
    }
  }
