body {
    margin: 0;
    background-color: aliceblue;
}

h1 {
    font-size: 3vh;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 8vh;
    width: 97vw;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 3em;
    height: 80vh;
    width: 97vw;
    text-align: center;
}
img:hover {
    transform: scale(1.2);
    transition: 400ms;
    transition-duration: 400ms;
}

.searchGroup {
    display: flex;
    justify-content: center;
}
button {
    width: 5vw;
    background-color: blue;
    color: white;
}
input {
    width: 20vw;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}
.input input:focus {
    box-shadow: none;
    border: 2px solid blue;
}