.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee; 
    color: black; 
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #150794;
    color: white;
  }
  h1 { font-family: 'Tourney', cursive; }

.photos {
    height:500px ;
    width: 350px ;
}
