.header {
    display: flex;
    width: 100%;
    height: 10em;
    background-color: aquamarine;
}
.body {
    height:  60em;
    width: 100%;
}
.container {
    display: flex;
    width: 158em;
    height: 60em;
    background-color: bisque;
    padding-right: 1em;
    margin-left: 0em;
    margin-top: 2em;
}
.sidebar {
    display: flex;
    height: 56em;
    width: 20em;
    background-color: blue;
    margin-top: 2em;
}
.content {
    display: flex;
    height: 50em;
    width: 150em;
    background-color: aliceblue;
    margin-top: 2em;
    margin-left: 2em;
}
.footer {
    display: flex;
    width: 100%;
    height: 8em;
    background-color: chartreuse;
    margin-top: 2em;
}